@model GestionBibliotheque.Entities.Lector

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>@Model.Firstname @Model.Lastname</h4>
<div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item"><i class="fa-solid fa-envelope"></i> @Model?.Email</li>
            <li class="list-group-item"><i class="fa-solid fa-phone"></i> @Model?.Phone</li>    
        </ul>        
        <ul class="list-group mt-2">
            <li class="list-group-item">@Model?.Address.Apt @Model?.Address.Number @Model?.Address.Street</li>
            <li class="list-group-item">@Model?.Address.City</li>
            <li class="list-group-item">@Model?.Address.ZipCode</li>
            <li class="list-group-item">@Model?.Address.Country</li>
        </ul>
    </div>
    <div class="col-8">
        @await Component.InvokeAsync("RentailList", new {LectorId = Model.Id})
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
