@model GestionBibliotheque.Entities.Domain

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Domain : @Model?.Name</h4>
    <p>@Model?.Description</p>
    <hr />
    <div class="row">
        @await Component.InvokeAsync("BookList", new { DomainId = Model?.Id })
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
