@model GestionBibliotheque.Entities.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>@Model.Title - @Model.Author.Firstname @Model?.Author.Lastname</h4>
<hr></hr>
<div class="row">
    <div class="col-4 jumbotron">
        <ul class="list-group">
            <li class="list-group-item">@Model?.Nbpages pages</li>
            <li class="list-group-item">@Model?.Description</li>
        </ul>
    </div>
    <div class="col-8">
        @await Component.InvokeAsync("RentailList", new { BookId = Model?.Id })
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
