@model GestionBibliotheque.Entities.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author : @Model?.Firstname @Model?.Lastname</h4>
    <hr />
    <div class="row">
        <div class="col-4 jumbotron">
            <ul class="list-group">
                <li class="list-group-item"> <i class="fa-solid fa-phone"></i>@Model?.Grade</li>
                <li class="list-group-item">@Model?.Email</li>
                <li class="list-group-item">@Model?.Phone</li>
            </ul>
        </div>
        <div class="col-8">
            @await Component.InvokeAsync("BookList", new { AuthorId = Model?.Id })
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
