@model GestionBibliotheque.Models.RentailsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>
    Emprunt - @ViewData["BookTitle"]
</h4>
<hr />
<div class="row">
    <div class="col-4 jumbotron">
        <ul class="list-group">
            <li class="list-group-item">Emprunter par: @ViewData["LectorName"]</li>
            <li class="list-group-item">Emprunter le:  @ViewData["RentailDate"] </li>
        </ul>
    </div>
 
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="LectorId" id="lectorId" />
                <input type="text" class="form-control" id="lectors" placeholder="Rechercher un lecteur" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="BookId" id="bookId" />
                <input type="text" class="form-control" id="books" placeholder="Rechercher un livre" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
